body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header {
  background-color: white;
}

.nav-link {
  color: #707070;
}

.nav-link:hover {
  color: black;
}

#carrito p {
  color: #707070;  
  padding: 8px 16px;
}

#closeCart {
  color: white;  
  position: absolute; 
  right: 50px; 
  top: 30px; 
}

#hr {
  background-color: #707070; 
  position: absolute; 
  top: 75px; 
  right: 30px; 
  width: 340px;
}

#productosAgregados {
  position: absolute; 
  top: 120px; 
  left: 20px; 
  color: white; 
  width: 360px;
  max-height: 300px;
  overflow-y: scroll;
}

#productosAgregados::-webkit-scrollbar {
  -webkit-appearance: none;
}

#subTotal {
  position: absolute; 
  top: 500px; 
  left: 20px;
  color: white;
}

#keepShopping {
  position: absolute; 
  top: 90%; 
  left: 35px; 
  color: white; 
  border: solid 1px #707070; 
  padding: 10px 100px;
  cursor: pointer;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item a {
  color: #707070;
}

.breadcrumb-item a:hover {
  color: #48D112;
}

#carrito {
  cursor: pointer;
}

#carritoInner {
  background-color: #464646;
  width: 400px;
  height: 100%;
  position: fixed;
  right: -400px;
  top: 0;
}

#closeCart {
  cursor: pointer;
}

.x {
  cursor: pointer;
}

#landingImg {
  height: 550px;
}

footer {
  height: 300px;
  background-color: black;
}

#newsLetter p {
  color: white;
}

#navFooter .nav-link {
  color: #707070;
}

#navFooter .nav-link:hover {
  color: white;
}

.fa-instagram {
  color: white;
  cursor: pointer;
}

#barraBusquedaContenedor {
  height: 0;
}

#barraBusqueda {
  outline: none;
  font-size: 22px;
}

#barraBusqueda::placeholder {
  color: rgb(165, 160, 160);
}

#barraBusquedaContenedor i {
  color: rgb(165, 160, 160);
  cursor: pointer;
  font-size: 22px;
}